version: "3.8"
   
services:
  db:
    image: postgres
    hostname: postgres
    container_name: postgres
    env_file:
      - ./.env
  django:
    build: .
    image: django
    container_name: django
    env_file:
      - ./.env
    entrypoint: ./docker-entrypoint.sh
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
  redis:
    image: redis
  celery:
    restart: always
    build:
      context: .
    command: celery -A palladris_brokers worker -l info -B
    volumes:
      - .:/app
    env_file:
      - ./.env
    depends_on:
      - db
      - redis
      - django
volumes:
   postgres: